body{
	padding: 0;
  margin: 0;
}
.wrapper{
  width: 100%;
}

/*1.header(home-section)*/
header {
  width: 100%;
  min-height: 700px;
  background-image: url('../img/home-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-nav{
  width: 100%;
  min-height: 100px;
  padding-top: 50px ;
  display: flex;
}
.header-logo{
  flex:30%;
  margin-left: 140px;
  margin-top: 25px;
}
.nav{
  flex:70%;
  text-align:center;
}
.mainMenu{
   text-align: center;
}
.mainMenu a{
  width: 100px;
  text-decoration: none;
  color: #FFFFFF;
  margin:0 10px;
  line-height: 70px;
  padding: 5px;
}
label{
  margin:0 40px 0 0;
  font-size: 25px;
  line-height: 70px;
  display: none;
}
#toggle{
  display: none;
}
.captions{
  text-align: center;
  color: #FFFFFF;
  padding: 100px;
  line-height: 15px;
}
.captions-text1{
  text-transform: uppercase;
  font-family: 'MyriadPro-Regular';
  font-size: 50px;
}
.captions-text2{
  text-transform: capitalize;
  font-family: 'MyriadPro-Regular';
  font-size: 20px;
}
.captions-button{
  padding-top: 50px;
}
.captions-button a{
  border: 2px solid #FFFFFF;
  padding: 10px 15px;
  font-family: 'Montserrat-Regular';
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
}
.captions-button a:hover{
  background-color: #FFFFFF;
  color:#c0301c;
}


/*2.section(services)*/
.services{
  width: 100%;
  background-color: #FFFFFF;
  min-height: 500px;
}
.section-title,
.about-title{
  padding-top: 50px;
  text-align: center;
}
.services-title,
.about-us-title{
  text-transform: uppercase;
  font-size: 25px;
  color:#555555;
  font-family: 'Montserrat-Regular';
}
.subtitle{
  padding-top: 10px;
  font-family: 'RobotoSlab-Regular';
  color:#555555;
}
.service{
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
}
.service-img img{
  width: 70px;
}
.service-img {
  text-align: center;
}
.service1{
  flex:30%;

}
.service2{
  flex:30%;
}
.service3{
  flex:30%;
}
.service-content{
  font-family: 'Montserrat-Regular',bold;
  color:#555555;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.service-content2{
  text-align: center;
  font-family: 'RobotoSlab-Regular';
  color:#555555;
  font-size: 14px;
  margin: 20px;
}

/*3.section(about-us)*/
.about-us{
  width: 100%;
  background-color: #f8f8f8;
  min-height: 800px;
}
.about-content{
  display: flex;
  flex-direction: row;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;
  line-height: 20px;
  color:#7e7e7e;
}
.about-content-left{
  padding-right: 5%;

}
 /*slider*/
 .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 20px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;

}
.slide-list {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
}
.slide-item {
  width: 230px;
  flex:25%;
}
.slide-wrap {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
}
.navy {
  /* àáñîëþòíîå ïîçèöèîíèðîâàíèå */
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  /* øèðèíà ññûëîê */
  width: 30px;
  cursor: pointer;
}
.navy img{
  background-color: #8f8f8f;
  padding: 15% 25%;
  margin-top: 85px;
}
.navy img:hover{
  background-color: #c0301c;
}
.prev-slide {
  left: 16%;
  background:  11px 40% no-repeat;
}
.next-slide {
  right:16%;
  background:13px 40% no-repeat;
}
.name{
  font-family: 'Montserrat-Regular';
  color:#555555;
  font-size: 15px;
}
.slide-item p{
  line-height: 10px;
}
.post{
  font-family: 'RobotoSlab-Regular';
  color:#7e7e7e;
  font-size: 13px;
}
.overlay{
  position: relative;
  bottom: 100px;
}
.slide-item-inner img{
  padding: 3px;
}
.slide-item-inner img:hover{

  background-color: #c0301c;
}
.slide-item-inner{
  margin-top: 90px;
}
.slide-item .overlay {
  position: relative;
  bottom: 235px;
  width: 140px;
  height: 110px;
  margin-left: 15px;
  opacity: 0;
  border-radius: 0;
  background-image: url('../img/rect.png');
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px; 
}

.slide-item:hover .overlay {
  opacity: 1;
}



/*4.section(works)*/
.works{
  width: 100%;
  background-color: #FFFFFF;
  min-height: 600px;
  padding-bottom: 50px;
}
ul.subtitle {
  margin: 0; /* Обнуляем значение отступов */
  padding: 14px; /* Значение полей */
}
ul.subtitle li {
  display: inline; /* Отображать как строчный элемент */
  padding: 20px;
}
li a{
 text-decoration: none;
 color:#555555;
  font-family: 'RobotoSlab-Regular';
}
li a:hover{
  color: #d06455;
}
.section-work{

padding-top: 20px;
padding-left: 10%;
padding-right: 10%;
}
.works-level{
display: flex;
flex-direction: row;
width: 100%;
text-align: center;
}
.works-level-inner{
padding: 10px;
width: 100%;
}

/*5.section(action)*/
.action{
width: 100%;
min-height: 300px;
background-image: url('../img/back.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.action-title{
padding-top: 50px;
text-align: center;
color: #FFFFFF;
font-size: 25px;
font-family: 'RobotoSlab-Regular';
}

.action-botton a{
  border: 2px solid #FFFFFF;
  padding: 10px 15px;
  font-family: 'Montserrat-Regular';
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
}
.action-botton a:hover{
background-color: #FFFFFF;
color:#c0301c;
}

/*6.section(blog)*/
.blog{
width: 100%;
min-height: 300px;
}
.blog-post{
display: flex;
flex-direction: column;
padding-left: 12%;
padding-right: 12%;
padding-top: 2%;
min-height: 800px;
}
.blog-post-info{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 20px;
}
.bp-img{
  
}
.bp-info{
flex:70%;
padding-left: 20px;
}
.bp-info-title{
display: flex;
flex-direction: row;
}
.bp-info-text{
padding-left: 30px;
}
.first-text{
text-transform: uppercase;
font-family: 'Montserrat-Regular';
color:#555555;
cursor: pointer;
}
.first-text:hover{
color:#c0301c;
}
.second-text{
color:#a2a2a2;
}
.bp-info-content{
color:#555555;
font-family: 'RobotoSlab-Regular';
line-height: 25px;
text-align: justify;
}
.third-text{
font-family: 'RobotoSlab-Regular';
padding-top: 10px;
color:#888888;
text-transform: uppercase;
}
.third-text:hover{
color:#c0301c;
cursor: pointer;
}


/*7.section(clients)*/
.clients{
width: 100%;
min-height: 200px;
background-color: #f8f8f8;
}
.clients-info{
padding-top: 50px;
padding-left: 18%;
padding-right: 18%;
text-align: center;
}
.clients-logo-inner img{
padding: 20px;
width: 110px;
}
.logo3,.logo4{
position: relative;
bottom: 13px;
}
.logo1{
position: relative;
bottom: 8px;
}
.carousel {
position: relative;
padding-left: 18%;
padding-right: 18%;
text-align: center;
}
#slides {
overflow: hidden;
position: relative;
min-height: 350px;
text-align: center;
}
#slides ul {
list-style: none;
height:250px;
margin: 0;
padding: 0;
position: relative;
}
#slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
}
.btn-bar{
position: relative;
text-align: center;  
}
#buttons {
padding-top: 20px;
}
#buttons a {
position: relative;
display: inline-block;
background: #dddddd;
border-radius: 50%;
width: 8px;
height: 8px;
z-index: 14;
margin: 0 5px;
cursor: pointer;
border: 2px solid transparent;
transition: all .3s;
}
#buttons a:hover{
background-color: #c0301c;
}
.quote-phrase, .quote-author {
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family: 'RobotoSlab-Regular';
}
.quote-phrase {
height: 200px;
font-size:20px;
color:#696969;
font-style:italic;
}
.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}
.quote-author {
font-style:normal;
font-size:20px;
color:#696969;
font-weight:400;
height: 30px;
}
.quoteContainer, .authorContainer {
display: table;
width: 100%;
}


/*8.section(contact)*/
.contact{
width: 100%;
min-height: 600px;
}
.contact-form{
display: flex;
flex-direction: row;
padding-left: 12%;
padding-right: 12%;
padding-top: 2%;
}
.cf-address{
  flex: 30%;
}
.contact-input-form{
  flex: 70%;
}
.address{
  display: flex;
  flex-direction: row;
}
.address-info{
  position: relative;
  bottom: 15px;
  padding-left: 10px;
  width: 200px;
}
.ai-first{
    font-family: 'Montserrat-Regular';
}
.ai-second{
    font-family: 'RobotoSlab-Regular';
color:#8a8a8a;
}
.cif-column1 input{
  padding: 10px;
  width: 300px;
   border: 1px solid #555555;
}
.cif-column2 input{
  padding: 10px;
  width: 300px;
   border: 1px solid #555555;
}
.cif-column3 input{
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 70px;
  width: 89%;
    font-family: 'RobotoSlab-Regular';
 border: 1px solid #555555;
}
.cif-column4{
display: flex;
flex-direction: row;
}

.cif-column4 p{
  padding-left: 30px;
}
.cif-column4 span{
  color:#c43d2a;
}
.cif-botton{
  border: 1px solid #555555;
  width: 170px;
  cursor: pointer;
}
.cif-column4 .cif-botton {
text-align: center;
padding-top: 12px; 
}
.cif-botton a{
  text-decoration: none;
  color:#6a6a6a;
  font-size: 15px;

}


/*9.section(footer)*/
.socials{
  width: 100%;
  min-height: 200px;
  background-color: #c0301c;
}
.twitter-footer i{
  padding: 10px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;

}
.twitter-footer :hover{
  background-color: #FFFFFF;
  color: #c0301c;
}
